.processcomplete *,
.netcodesms *,
.yourlogondetails *,
.securityanswers *,
.netcodetoken *,
.requestcancelled *,
.advice * {
    font-family: Arial
}

.processcomplete h3 span,
.netcodesms h3 span,
.yourlogondetails h3 span,
.securityanswers h3 span,
.netcodetoken h3 span,
.requestcancelled h3 span,
.advice h3 span {
    font-size: 14px;
    color: #333;
    font-weight: bold !important
}

.processcomplete h2,
.netcodesms h2,
.yourlogondetails h2,
.securityanswers h2,
.netcodetoken h2,
.requestcancelled h2,
.advice h2 {
    font-size: 18px
}

.processcomplete h1,
.netcodesms h1,
.yourlogondetails h1,
.securityanswers h1,
.netcodetoken h1,
.requestcancelled h1,
.advice h1 {
    font-size: 24px
}

.processcomplete h1,
.netcodesms h1,
.yourlogondetails h1,
.securityanswers h1,
.netcodetoken h1,
.requestcancelled h1,
.advice h1,
.processcomplete h2,
.netcodesms h2,
.yourlogondetails h2,
.securityanswers h2,
.netcodetoken h2,
.requestcancelled h2,
.advice h2 {
    color: #252525;
    font-weight: bolder !important
}

.processcomplete span.MainLabel,
.netcodesms span.MainLabel,
.yourlogondetails span.MainLabel,
.securityanswers span.MainLabel,
.netcodetoken span.MainLabel,
.requestcancelled span.MainLabel,
.advice span.MainLabel {
    font-size: 12px;
    color: #333
}

.processcomplete div.ContentHeader,
.netcodesms div.ContentHeader,
.yourlogondetails div.ContentHeader,
.securityanswers div.ContentHeader,
.netcodetoken div.ContentHeader,
.requestcancelled div.ContentHeader,
.advice div.ContentHeader {
    border: none !important;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 70px
}

.processcomplete div#ContentArea,
.netcodesms div#ContentArea,
.yourlogondetails div#ContentArea,
.securityanswers div#ContentArea,
.netcodetoken div#ContentArea,
.requestcancelled div#ContentArea,
.advice div#ContentArea {
    padding: 0;
    padding-bottom: 50px
}

.processcomplete h1.headerTitle,
.netcodesms h1.headerTitle,
.yourlogondetails h1.headerTitle,
.requestcancelled h1.headerTitle,
.securityanswers h1.headerTitle,
.netcodetoken h1.headerTitle,
.advice h1.headerTitle {
    font-size: 24px;
    font-weight: bolder
}

.processcomplete .RightContentPanel div.Contents,
.netcodesms .RightContentPanel div.Contents,
.yourlogondetails .RightContentPanel div.Contents,
.requestcancelled .RightContentPanel div.Contents,
.securityanswers .RightContentPanel div.Contents,
.netcodetoken .RightContentPanel div.Contents,
.advice .RightContentPanel div.Contents {
    background-color: #e3e0d9
}

.processcomplete .RightContentPanel h3:before,
.netcodesms .RightContentPanel h3:before,
.yourlogondetails .RightContentPanel h3:before,
.requestcancelled .RightContentPanel h3:before,
.securityanswers .RightContentPanel h3:before,
.netcodetoken .RightContentPanel h3:before,
.advice .RightContentPanel h3:before {
    border: 12px solid #EBEBEB;
    border-bottom: 0
}

.processcomplete .RightContentPanel h3:before,
.netcodesms .RightContentPanel h3:before,
.yourlogondetails .RightContentPanel h3:before,
.requestcancelled .RightContentPanel h3:before,
.securityanswers .RightContentPanel h3:before,
.netcodetoken .RightContentPanel h3:before,
.advice .RightContentPanel h3:before,
.processcomplete .RightContentPanel h3,
.netcodesms .RightContentPanel h3,
.yourlogondetails .RightContentPanel h3,
.requestcancelled .RightContentPanel h3,
.securityanswers .RightContentPanel h3,
.netcodetoken .RightContentPanel h3,
.advice .RightContentPanel h3 {
    border-top-color: #d6d2c9;
    background-color: #d6d2c9
}

.processcomplete div#MainContent,
.netcodesms div#MainContent,
.yourlogondetails div#MainContent,
.requestcancelled div#MainContent,
.securityanswers div#MainContent,
.netcodetoken div#MainContent,
.advice div#MainContent {
    padding: 0;
    width: 745px
}

.processcomplete div.MessagePanel,
.netcodesms div.MessagePanel,
.yourlogondetails div.MessagePanel,
.requestcancelled div.MessagePanel,
.securityanswers div.MessagePanel,
.netcodetoken div.MessagePanel,
.advice div.MessagePanel {
    width: 680px
}

.processcomplete span.checkbox label {
    font-size: 11px
}

.yourlogondetails div.curvepanel,
.netcodesms div.curvepanel,
.processcomplete div.clientInformationBackground,
.processcomplete div.tabs,
.netcodetoken div.curvepanel,
.yourlogondetails div.enterLogonDetailsBackground,
.requestcancelled div.cancelBackground,
.securityanswers div.securityQuestionsBackground,
.advice div.adviceBackground {
    width: 729px !important
}

.yourlogondetails div.curvepanel,
.netcodesms div.curvepanel,
.processcomplete div.clientInformationBackground,
.processcomplete div.tabs,
.netcodesms div.CbaButton input,
.requestcancelled div.ContentHeader,
.processcomplete div.clientInformation p,
.netcodetoken div.curvepanel,
.advice div.adviceBackground,
.advice div.ContentHeader {
    margin: 0
}

.yourlogondetails div.imgOne,
.yourlogondetails div.imgTwo,
.yourlogondetails div.imgThree,
.yourlogondetails div.rhssecurityImage,
.processcomplete div.rhssecurityImage,
.advice div.rhssecurityImage,
.netcodesms input#ctl00_BodyPlaceHolder_btnGenSMS_field,
.yourlogondetails a.icon_help i,
.processcomplete a.icon_help i,
.processcomplete div.clientImage {
    background-image: url(../images/byw-sprite-sheet.ba10098fe42af04a8c1a6d45048c3c46.gif) !important
}

.yourlogondetails .FieldHelp .FieldPopupContents a.icon_close,
.processcomplete .FieldHelp .FieldPopupContents a.icon_close,
.netcodesms .FieldHelp .FieldPopupContents a.icon_close,
.advice .FieldHelp .FieldPopupContents a.icon_close,
.requestcancelled .FieldHelp .FieldPopupContents a.icon_close,
.netcodetoken .FieldHelp .FieldPopupContents a.icon_close,
.securityanswers .FieldHelp .FieldPopupContents a.icon_close {
    background-image: url(../images/byw-sprite-sheet.ba10098fe42af04a8c1a6d45048c3c46.gif) !important;
    background-position: -89px -139px;
    width: 15px;
    height: 15px;
    border: 0;
    background-color: #CDE3E0;
    top: 10px;
    right: 10px
}

.yourlogondetails div.imgOne {
    background-position: -12px -15px
}

.yourlogondetails div.imgTwo {
    background-position: -122px -15px
}

.yourlogondetails div.imgThree {
    background-position: -232px -15px
}

.yourlogondetails div.imgOne,
.yourlogondetails div.imgTwo,
.yourlogondetails div.imgThree {
    display: inline-block;
    height: 100px;
    width: 100px
}

.msie7 .yourlogondetails div.imgOne,
.msie7 .yourlogondetails div.imgTwo,
.msie7 .yourlogondetails div.imgThree,
.msie7 .yourlogondetails div.FooterText {
    display: inline !important
}

.msie7 .yourlogondetails div.FooterText {
    width: 225px;
    float: left
}

.netcodesms .RightContentPanel h3 span,
.yourlogondetails .RightContentPanel h3 span,
.securityanswers.RightContentPanel h3 span,
.netcodetoken .RightContentPanel h3 span {
    font-weight: bold;
    font-size: 14px
}

.yourlogondetails .Iconography h2 {
    line-height: 30px
}

.yourlogondetails .Iconography li {
    list-style-type: none !important;
    background: none !important;
    float: left;
    width: 230px;
    text-align: center;
    margin: 0;
    padding: 0
}

.yourlogondetails ul.Iconography {
    width: 690px;
    margin: 0
}

.yourlogondetails ul.Iconography li.ListFootItem div.FooterText {
    width: 225px;
    display: inline-table;
    vertical-align: top;
    text-align: center;
    font-weight: bolder
}

.netcodesms .RightContentPanel .Contents {
    padding: 10px
}

.processcomplete ul.LabelFieldList,
.netcodesms ul.LabelFieldList,
.yourlogondetails ul.LabelFieldList,
.netcodetoken ul.LabelFieldList {
    margin-top: -20px
}

.yourlogondetails div.rhssecurityImage,
.processcomplete div.rhssecurityImage,
.advice div.rhssecurityImage {
    height: 70px;
    width: 135px;
    background-position: -168px -164px;
    margin-left: 40px
}

.netcodesms td.netCodeContent,
.netcodetoken td.netCodeContent {
    width: 380px
}

.netcodesms td.netCodeControls,
.netcodetoken td.netCodeControls {
    width: 285px;
    padding-left: 30px
}

.netcodesms div.curvepanel,
.netcodetoken div.curvepanel,
.yourlogondetails div.enterLogonDetailsBackground,
.requestcancelled div.cancelBackground,
.securityanswers div.securityQuestionsBackground,
.processcomplete .ui-tabs .ui-tabs-panel,
.processcomplete .ui-tabs .ui-tabs-nav .ui-state-active a,
.advice div.adviceBackground {
    background: #ebebeb !important
}

.netcodesms .Summary ul li,
.netcodesms .LabelFieldListItem ul li,
.netcodetoken .Summary ul li,
.netcodetoken .LabelFieldListItem ul li,
.yourlogondetails div.logonControls ul li,
.processcomplete ul.square {
    background: 0;
    padding: 0;
    list-style-type: square !important
}

.netCodeSMSButton span.getNetcodeSmsLabel {
    font-size: 12px;
    font-weight: bold;
    line-height: 35px;
    padding-right: 15px;
    color: #333
}

.netcodesms div.netCodeSMSButton,
.netcodesms div.netCodeSMSTextBox,
.netcodetoken div.netCodeTokenTextBox {
    display: inline-table;
    width: 265px
}

.netcodesms div.netCodeSMSTextBox {
    margin-top: 10px
}

.netcodesms input#ctl00_BodyPlaceHolder_txtOTP_field,
.netcodetoken input#ctl00_BodyPlaceHolder_txtOTP_field {
    line-height: 27px;
    height: 27px;
    font-size: 17px;
    font-weight: bold;
    text-align: left
}

.netcodesms div.buttonPanel,
.netcodetoken div.buttonPanel,
.yourlogondetails div.buttonPanel,
.securityanswers div.buttonPanel {
    width: 735px;
    margin-top: 25px
}

.netcodesms label span.MainLabel,
.netcodetoken label span.MainLabel {
    font-size: 12px;
    font-weight: bold;
    line-height: 35px
}

.netcodesms div.LabelWrapper,
.netcodetoken div.LabelWrapper {
    padding-top: 0
}

.yourlogondetails div.loginDetailsPanel {
    display: inline-block;
    margin: 20px 20px 20px 20px
}

.yourlogondetails div.enterLogonDetailsBackground {
    margin-top: 20px;
    margin-bottom: 20px
}

.requestcancelled div.cancelBackground,
.advice div.adviceBackground {
    margin-top: 0;
    height: 175px
}

.yourlogondetails div.logonControls {
    margin-left: 75px;
    margin-top: 25px
}

.yourlogondetails .enterLogonDetailsBackground .loginDetailsPanel .FieldPanel .LabelFieldList li.LabelFieldListItem {
    padding: 0
}

.yourlogondetails .enterLogonDetailsBackground div.subtextInner {
    padding-left: 0
}

.yourlogondetails a.icon_help i,
.processcomplete a.icon_help i {
    background-position: -20px -136px;
    background-repeat: no-repeat
}

.yourlogondetails a.icon_help,
.processcomplete a.icon_help {
    padding-right: 10px
}

.yourlogondetails label#ctl00_BodyPlaceHolder_txtCardNumber_label,
.yourlogondetails label#ctl00_BodyPlaceHolder_txtCardPin_label,
.securityanswers label#ctl00_BodyPlaceHolder_txtA1_label,
.securityanswers label#ctl00_BodyPlaceHolder_txtA2_label,
.processcomplete label#ctl00_BodyPlaceHolder_txtMyClientNumber_label,
.processcomplete label#ctl00_BodyPlaceHolder_txtMyPassword_label,
.processcomplete label#ctl00_BodyPlaceHolder_txtClientNumber_label,
.processcomplete label#ctl00_BodyPlaceHolder_txtNewPassword_label,
.processcomplete label#ctl00_BodyPlaceHolder_txtConfirmPassword_label {
    line-height: 35px
}

.yourlogondetails input#ctl00_BodyPlaceHolder_txtCardNumber_field,
.yourlogondetails input#ctl00_BodyPlaceHolder_txtCardPin_field,
.securityanswers input#ctl00_BodyPlaceHolder_txtA1_field,
.securityanswers input#ctl00_BodyPlaceHolder_txtA2_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtMyClientNumber_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtMyPassword_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtClientNumber_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtNewPassword_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtConfirmPassword_field {
    height: 35px;
    line-height: 35px
}

.processcomplete input#ctl00_BodyPlaceHolder_txtMyClientNumber_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtMyPassword_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtClientNumber_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtNewPassword_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtConfirmPassword_field {
    width: 280px !important
}

.msie7 .yourlogondetails input#ctl00_BodyPlaceHolder_txtCardNumber_field,
.msie7 .yourlogondetails input#ctl00_BodyPlaceHolder_txtCardPin_field {
    margin-left: -75px
}

.yourlogondetails div.resetCheckBox {
    margin-left: 220px
}

.yourlogondetails div.enterLogonDetailsBackground p,
.yourlogondetails div.enterLogonDetailsBackground span.subtext,
.securityanswers div.securitycontent span.subtext {
    font-size: 12px
}

.yourlogondetails div.enterLogonDetailsBackground span.subtext,
.yourlogondetails div.enterLogonDetailsBackground div.subtextInner,
.processcomplete div.subtextInner,
.yourlogondetails div.enterLogonDetailsBackground div.subtextInner a.help_link,
.securityanswers div.securitycontent span.subtext,
.processcomplete span.checkbox label {
    color: #808080
}

.yourlogondetails div.enterLogonDetailsBackground div.subtextInner a.help_link {
    font-size: 11px
}

.yourlogondetails div.resetCheckBox input#ctl00_BodyPlaceHolder_chkResetPwd_field,
.processcomplete input#ctl00_BodyPlaceHolder_chkRememberReset,
.processcomplete input#ctl00_BodyPlaceHolder_chkRemember_field,
.processcomplete input#ctl00_BodyPlaceHolder_chkRememberReset_field {
    -webkit-appearance: checkbox
}

.processcomplete input#ctl00_BodyPlaceHolder_chkRemember_field,
.processcomplete input#ctl00_BodyPlaceHolder_chkRememberReset_field {
    margin-top: 7px
}

.requestcancelled div .cancelContent {
    padding: 20px
}

.securityanswers div.securityQAContent {
    margin: 20px 20px 20px 50px;
    display: inline-block;
    width: 650px
}

.securityanswers div.securityQAContent table tr td {
    width: 650px
}

.processcomplete .ui-tabs .ui-tabs-nav a,
.processcomplete .ui-tabs .ui-tabs-nav li {
    width: auto;
    height: auto;
    background: #CCC;
    padding-left: 0;
    line-height: 40px
}

.processcomplete .ui-tabs .ui-tabs-nav,
.processcomplete .ui-state-default .ui-corner-top {
    height: 50px
}

.processcomplete .ui-tabs .ui-tabs-nav li.ui-state-active {
    background: transparent
}

.processcomplete div.clientInfo {
    padding-top: 10px;
    padding-bottom: 10px
}

.processcomplete p.info {
    font-size: 14px
}

.processcomplete .ui-tabs .ui-tabs-panel,
.processcomplete .ui-tabs .ui-tabs-nav .ui-state-active a {
    border: 0
}

.processcomplete .ui-tabs .ui-tabs-nav a {
    padding-top: 10px
}

.processcomplete h2.enterpassword,
.processcomplete h2.passwordreset {
    padding-left: 20px;
    padding-right: 20px
}

.processcomplete div.clientInformationBackground {
    background: #ffe66f;
    margin-bottom: 16px
}

.processcomplete div.clientImage {
    height: 32px;
    width: 32px;
    background-position: -315px -189px;
    display: inline-block
}

.processcomplete span.spnClientNumber,
.processcomplete span#ctl00_BodyPlaceHolder_lblClientNumber_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtMyClientNumber_field,
.processcomplete input#ctl00_BodyPlaceHolder_txtClientNumber_field {
    font-weight: bold
}

.processcomplete span#ctl00_BodyPlaceHolder_lblClientNumber_field {
    font-size: 20px
}

.processcomplete span.spnClientNumber {
    font-size: 17px
}

.processcomplete div.clientInformation {
    padding: 16px
}

.processcomplete div.clientNumber {
    display: inline-block;
    margin-left: 40px
}

.processcomplete div.loginBackground ul.LabelFieldList li.LabelFieldListItem {
    margin-left: 125px
}

.processcomplete div.resetBackground ul.LabelFieldList li.LabelFieldListItem {
    margin-left: 100px
}

.processcomplete div.loginBackground div.Summary,
.processcomplete div.resetBackground div.Summary {
    margin-left: 10px;
    margin-bottom: 30px
}

.processcomplete div.loginBackground ul.LabelFieldList li#ctl00_BodyPlaceHolder_chkRemember {
    margin-left: 235px !important
}

.processcomplete div.resetBackground ul.LabelFieldList li#ctl00_BodyPlaceHolder_chkRememberReset {
    margin-left: 260px !important
}

.processcomplete div.resetBackground ul.LabelFieldList li.LabelFieldListItem div.ButtonPanel {
    width: 465px
}

.processcomplete div.loginBackground ul.LabelFieldList li.LabelFieldListItem div.ButtonPanel {
    width: 415px
}

.processcomplete a.ui-tabs-anchor {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.processcomplete a.ui-dialog-titlebar-close {
    visibility: hidden
}

.processcomplete div.PasswordStrengthMeter {
    margin-left: 160px
}

.adivce a#ctl00_InformationPlaceholder_hypFindaBranch,
.requestcancelled a#ctl00_InformationPlaceholder_hypFindaBranch,
.yourlogondetails a#ctl00_InformationPlaceholder_lnkLearnMore,
.processcomplete a#ctl00_InformationPlaceholder_lnkLearnMore,
.yourlogondetails .logonControls a.help_link {
    text-decoration: underline !important;
    border-bottom: 0 !important
}

.yourlogondetails .FieldPopupInline a.help_link,
.processcomplete .FieldPopupInline a.help_link,
.netcodetoken .FieldPopupInline a.help_link,
.netcodesms .FieldPopupInline a.help_link,
.requestcancelled .FieldPopupInline a.help_link,
.advice .FieldPopupInline a.help_link,
.securityanswers .FieldPopupInline a.help_link,
.processcomplete a.resetMyPass {
    text-decoration: none;
    border-bottom: 1px dotted black
}

.yourlogondetails .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.processcomplete .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.netcodetoken .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.netcodesms .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.requestcancelled .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.advice .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.securityanswers .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.yourlogondetails .subtextInner .FieldHelpAbove .FieldPopupContents {
    top: 25px;
    bottom: auto
}

.yourlogondetails .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.processcomplete .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.netcodetoken .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.netcodesms .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.requestcancelled .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.advice .RightContentPanel .FieldHelpAbove .FieldPopupContents,
.securityanswers .RightContentPanel .FieldHelpAbove .FieldPopupContents {
    width: 205px
}

.yourlogondetails .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.processcomplete .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.netcodetoken .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.netcodesms .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.requestcancelled .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.advice .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.securityanswers .RightContentPanel .FieldPopup .FieldPopupContents b.barrow,
.yourlogondetails .subtextInner .FieldPopup .FieldPopupContents b.barrow,
.processcomplete div.MessageBubble b.barrow,
.processcomplete div.MessageBubbleReset b.barrow {
    border-top: 0;
    border-bottom: 8px solid #cde3e0
}

.yourlogondetails .RightContentPanel .FieldPopup .FieldPopupContents b,
.processcomplete .RightContentPanel .FieldPopup .FieldPopupContents b,
.netcodetoken .RightContentPanel .FieldPopup .FieldPopupContents b,
.netcodesms .RightContentPanel .FieldPopup .FieldPopupContents b,
.requestcancelled .RightContentPanel .FieldPopup .FieldPopupContents b,
.advice .RightContentPanel .FieldPopup .FieldPopupContents b,
.securityanswers .RightContentPanel .FieldPopup .FieldPopupContents b,
.yourlogondetails .subtextInner .FieldPopup .FieldPopupContents b,
.processcomplete div.MessageBubble b,
.processcomplete div.MessageBubbleReset b {
    border: 8px solid transparent;
    top: -8px;
    left: 10px
}

.yourlogondetails div.logonControls span.PostFieldText {
    background: url(../images/byw-sprite-sheet.ba10098fe42af04a8c1a6d45048c3c46.gif) no-repeat -56px -135px;
    width: 14px;
    height: 17px;
    line-height: 7px;
    margin: 10px
}

a.cancelBtn i {
    background: url(../images/cross.8352e7592714fc4706c21efb89ce9c02.png)
}

a.getNetCodeSMSButton i {
    background: url(../images/mobile.f7e1a92f219a35bbfd9809895e6470a0.png)
}

.netcodesms a#ctl00_BodyPlaceHolder_btnNext.disabled,
.netcodesms a#ctl00_BodyPlaceHolder_btnNext[disabled],
.netcodesms a#ctl00_BodyPlaceHolder_btnNext[disabled="disabled"] {
    color: #231f20
}

.yourlogondetails em.opt,
.securityanswers em.opt {
    font-style: normal
}

.yourlogondetails i.nonBold {
    font-weight: bold;
    font-style: normal
}

.yourlogondetails p.modalFont {
    font-size: 14px
}

.yourlogondetails span.ui-dialog-title,
.processcomplete span.ui-dialog-title {
    font-size: 18px
}

.yourlogondetails hr {
    width: 700px;
    margin-left: -79px
}

.processcomplete div.goToNetBank a.button {
    margin-top: 15px
}

div.FieldPopupContents {
    width: 260px
}

ul.squarelist li {
    background: 0;
    list-style-type: square !important
}

.yourlogondetails p {
    color: #252525
}

.securityanswers div.securitycontent {
    margin-top: -15px
}

.securityanswers div.securitycontent li.LabelFieldListItem {
    padding: 0
}

.securityanswers div.securityQuestionsBackground {
    margin-top: 20px
}

.securityanswers span#ctl00_BodyPlaceHolder_lblQ1_field,
.securityanswers span#ctl00_BodyPlaceHolder_lblQ2_field {
    line-height: 30px
}

.processcomplete div#ctl00_BodyPlaceHolder_txtNewPassword_ctl00_helpContents {
    font-weight: bold
}

.processcomplete div#ctl00_BodyPlaceHolder_txtNewPassword_ctl00_helpContents ul li strong {
    font-weight: normal
}

.processcomplete div#ctl00_BodyPlaceHolder_txtNewPassword_ctl00_helpContents ul li {
    font-weight: normal;
    list-style-type: square !important;
    background: none !important
}

.processcomplete div#ctl00_BodyPlaceHolder_txtNewPassword_ctl00_helpContents ul {
    margin-top: 20px;
    margin-bottom: 20px
}

.yourlogondetails .logonControls .FieldElement {
    height: 40px
}

.yourlogondetails div.enterLogonDetailsBackground div.subtextInner {
    margin-bottom: 10px
}

.msie7 .yourlogondetails div#ctl00_BodyPlaceHolder_txtCardNumber_subtextpanel {
    margin-top: -25px
}

.msie7 .yourlogondetails div#ctl00_BodyPlaceHolder_txtCardPin_subtextpanel {
    margin-top: -10px
}

.msie7 .yourlogondetails div#ctl00_BodyPlaceHolder_pnlPrimarySecondarySelection div.FieldElement {
    width: 200px
}

.yourlogondetails .cba_dialog_yellow .ui-dialog-titlebar-close {
    background-image: url(../images/byw-sprite-sheet.ba10098fe42af04a8c1a6d45048c3c46.gif) !important;
    background-position: -122px -139px;
    width: 15px;
    height: 15px;
    border: 0;
    background-color: transparent;
    top: 20px;
    right: 15px
}

.yourlogondetails div#ctl00_BodyPlaceHolder_dialogSequenceNumber {
    height: auto !important
}

.advice div#ctl00_BodyPlaceHolder_cpnlAdvice_outer {
    padding-top: 20px
}

.advice div.Summary {
    margin-left: 15px
}

.yourlogondetails .resetCheckBox span.checkbox input {
    margin-top: 6px
}

.msie7 .yourlogondetails .resetCheckBox span.checkbox input,
.msie8 .yourlogondetails .resetCheckBox span.checkbox input,
.msie9 .yourlogondetails .resetCheckBox span.checkbox input {
    width: 14px;
    height: 14px;
    margin: 8px 2px 0 0
}

.processcomplete li#ctl00_BodyPlaceHolder_txtMyClientNumber,
.processcomplete li#ctl00_BodyPlaceHolder_txtClientNumber {
    opacity: 1;
    filter: alpha(opacity=100)
}

.processcomplete div.MessageBubble,
.processcomplete div.MessageBubbleReset {
    display: none;
    position: absolute;
    top: 215px;
    font-size: 11px;
    width: 200px
}

.processcomplete div.MessageBubbleReset {
    left: 265px
}

.processcomplete div.MessageBubble {
    left: 234px
}

.processcomplete div.MessageBubble a.MessageClose,
.processcomplete div.MessageBubbleReset a.MessageClose {
    background: url(../images/byw-sprite-sheet.ba10098fe42af04a8c1a6d45048c3c46.gif) no-repeat;
    background-position: -89px -139px;
    height: 15px;
    overflow: hidden;
    text-indent: -1000px;
    width: 15px;
    text-decoration: none;
    zoom: 1;
    margin-top: 17px;
    margin-right: 5px;
    position: absolute;
    top: 0;
    right: 0
}

.processcomplete div.MessageBubble a.MessageClose:hover,
.processcomplete div.MessageBubbleReset a.MessageClose:hover {
    background-position: -124px -139px
}

.processcomplete div.MessageBubble span.MessageBody,
.processcomplete div.MessageBubbleReset span.MessageBody {
    display: block;
    width: 170px;
    padding: 6px 23px 9px 7px;
    background: #CDE3E0 no-repeat scroll top left;
    margin-top: 8px;
    z-index: 1000
}

.processcomplete div.MessageBubble b,
.processcomplete div.MessageBubbleReset b {
    position: absolute;
    top: 0
}

.processcomplete div.MessageBubbleReset b {
    left: 10px
}

.processcomplete div.MessageBubble b {
    left: 16px
}

.processcomplete a#ctl00_BodyPlaceHolder_hypPasswordTipsReset,
.processcomplete a#ctl00_BodyPlaceHolder_hypPasswordTipsLogon {
    font-size: 11px;
    text-decoration: underline !important
}

.yourlogondetails .pnlMessageSummary {
    background-color: #fff;
    border: solid 2px #d3d2d2;
    padding: 19px 90px 23px 66px;
    line-height: 24px
}

.yourlogondetails .pnlMessageSummary i {
    width: 22px;
    height: 22px;
    position: absolute
}

.yourlogondetails .pnlMessageSummary,
.yourlogondetails .pnlMessageSummary a {
    font-size: 16px;
    font-family: Helvetica, arial, sans serif;
    color: #231f20
}

.yourlogondetails .pnlMessageSummary {
    width: 740px;
    margin-top: 18px
}

.yourlogondetails .pnlMessageSummary .infoIcon {
    background: url(../images/Icon_Info_Blue.1dd90f0b15469a90048211f163b74e36.png) no-repeat transparent;
    margin: 0 0 0 -43px
}

.yourlogondetails .pnlMessageSummary a {
    color: #107bbf;
    height: 24px;
    line-height: 1.5;
    text-decoration: none
}

.yourlogondetails .pnlMessageSummary a:hover {
    text-decoration: underline
}